body{
  width: 50%;
  margin: 0 auto;
  line-height: 1.5em;
}
h1 {
  border-bottom: 1px solid black;
  text-align: center;
  margin: 0px;
  padding :40px;
}
h3, h4{
  font-size: 1em;
  font-weight: bold;
  background-color:#1E90FF;
  padding: 5px;
  margin-top: 40px;
}
h5{
  font-size: 1em;
}
/*
inline level element
*/
a {
  color: black;
  text-decoration: none;
}
#grid ol{
  width: 150px;
  padding-top: 20px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
  padding-left:20px;
}
#article{
  padding-left:60px;
}
@media (max-width:1000px) {
  #grid{
    display: block;
    padding-left:0px;
  }
  #grid ol{
    padding-top: 0px;
    margin: 0px;
  }
  #article{
    padding-left:0px;
  }
  body{
    width:80%
  }
  h1{
    border-bottom: 0px;
    padding:40px;
  }
  ol{
    padding-inline-start: 20px;
  }
}
